  <!-- Main content -->
  <div class="main-content">

    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Dashboard</a>
        <!-- Form -->
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <form class="form-inline">
          <a href="http://DOMAINPORT/start.html" class="btn btn-primary btn-inline">Start</a>
          <a href="http://DOMAINPORT/stop.html" class="btn btn-primary btn-inline">Stop</a>
          <a href="http://DOMAINPORT/status.html" class="btn btn-primary btn-inline">Status</a>
        </form>
        <form method="get" action="http://finance.yahoo.com/quote/" class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Stock Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        {% include 'includes/user-dropdown.html' %}
        
      </div>
    </nav>

    <!-- Header -->

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Account Value</h5>

                      <span id="stats_traffic" class="h2 font-weight-bold mb-0">REPLACEACCOUNTVALUE</span>

                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="ACCOLOR"><i class="ACCARROW"></i> ACCPERCENT</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Top Traded Stock</h5>

                      <span id="stats_users" class="h2 font-weight-bold mb-0">REPLACESTOCK</span>

                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="TEXTSTOCK"><i class="RESSTOCK"></i> REPLACECHANGE</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Open Positions</h5>

                      <span id="stats_sales" class="h2 font-weight-bold mb-0">OPENPOSITIONS</span>

                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Profit/Loss</h5>

                      <span id="stats_perf" class="h2 font-weight-bold mb-0">PROFITLOSS</span>

                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                  <h2 class="text-white mb-0">REPLACESTOCK Graph</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":REPLACEDAILYDATA}]}}' data-prefix="$">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Monthly</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Total orders</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Order History</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Stock Ticker</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Side</th>
                    <th scope="col">Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      ITEM1
                    </th>
                    <td>
                      SHARES1
                    </td>
                    <td>
                      SIDE1
                    </td>
                    <td>
                      <i class="CLASS1"></i> TYPE1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      ITEM2
                    </th>
                    <td>
                      SHARES2
                    </td>
                    <td>
                      SIDE2
                    </td>
                    <td>
                      <i class="CLASS2"></i> TYPE2
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      ITEM3
                    </th>
                    <td>
                      SHARES3
                    </td>
                    <td>
                      SIDE3
                    </td>
                    <td>
                      <i class="CLASS3"></i> TYPE3
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      ITEM4
                    </th>
                    <td>
                      SHARES4
                    </td>
                    <td>
                      SIDE4
                    </td>
                    <td>
                      <i class="CLASS4"></i> TYPE4
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      ITEM5
                    </th>
                    <td>
                      SHARES5
                    </td>
                    <td>
                      SIDE5
                    </td>
                    <td>
                      <i class="CLASS5"></i> TYPE5
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Good Stocks</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Percent Increase</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      GAINSTOCK0
                    </th>
                    <td>
                      GAINPRICE0
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">GAINPERCENT0%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="GAINPERCENT0" aria-valuemin="0" aria-valuemax="100" style="width: GAINPERCENT0%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      GAINSTOCK1
                    </th>
                    <td>
                      GAINPRICE1
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">GAINPERCENT1%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="GAINPERCENT1" aria-valuemin="0" aria-valuemax="100" style="width: GAINPERCENT1%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      GAINSTOCK2
                    </th>
                    <td>
                      GAINPRICE2
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">GAINPERCENT2%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="GAINPERCENT2" aria-valuemin="0" aria-valuemax="100" style="width: GAINPERCENT2%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      GAINSTOCK3
                    </th>
                    <td>
                      GAINPRICE3
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">GAINPERCENT3%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="GAINPERCENT3" aria-valuemin="0" aria-valuemax="100" style="width: GAINPERCENT3%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      GAINSTOCK4
                    </th>
                    <td>
                      GAINPRICE4
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">GAINPERCENT4%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="GAINPERCENT4" aria-valuemin="0" aria-valuemax="100" style="width: GAINPERCENT4%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include 'includes/footer.html' %}

    </div>
  </div>

